<div id="about-content" class="container-fluid">
	<div id="about-description">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet malesuada diam, at maximus mi. Nam laoreet diam augue. Sed non gravida quam, sit amet viverra neque. Aliquam diam quam, venenatis vel est sit amet, condimentum semper lacus. Nam sit amet semper massa. Curabitur ac felis congue, porta neque ut, laoreet mauris. Curabitur dictum tortor tincidunt massa eleifend, sed volutpat purus consequat. Praesent enim elit, elementum a lacus id, faucibus efficitur felis.</p>
		<img src="../public/assets/images/alex_pics/suit_crop.jpg" class="img-thumbnail">
	</div>


</div>

<script src="jquery.vimelar.js"></script>

