<div id="portfolio" class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<ul class="portfolio-content">
				<li id="trailers" class="portfolio-item animated fadeInLeftBig portfolio-left"></li>
				<li id="tv-spots" class="portfolio-item animated fadeInLeftBig portfolio-left"></li>
				<li id="online" class="portfolio-item animated fadeInLeftBig portfolio-left"></li>
				<li id="offline" class="portfolio-item animated fadeInRightBig portfolio-right"></li>
				<li id="misc" class="portfolio-item animated fadeInRightBig portfolio-right"></li>
				<li id="misc-2" class="portfolio-item animated fadeInRightBig portfolio-right"></li>
			</div>
		</div>
		<div id="test"></div>
	</div>
</div>