<div id="portfolio" class="container-fluid">
	<div class="row">
		<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="false" id="myCarousel">
		  <div class="content-page carousel-inner portfolio-right">
		    <div class="item active">
		     	<div class="col-md-2 col-sm-6 col-xs-12">
		      		<a href="#">
		      			<div id="trailers" class="portfolio-item">
		      				<span class="screen"><p class="title">Spiderman: Homecoming</p></span>
      					</div>
      				</a>
      			</div>
		    </div>
		    <div class="item">
		      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><div id="tv-spots" class="portfolio-item"></div></a></div>
		    </div>
		    <div class="item">
		      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><div id="online" class="portfolio-item"></div></a></div>
		    </div>
		    <div class="item">
		      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><div id="offline" class="portfolio-item"></div></a></div>
		    </div>
		    <div class="item">
		      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><div id="misc" class="portfolio-item"></div></a></div>
		    </div>
		    <div class="item">
		      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#"><div id="misc-2" class="portfolio-item"></div></a></div>
		    </div>
		    <div class="item">
		      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#" data-toggle="adaptive-modal" data-am-custom-bgcolor="#000" data-title="<iframe class='video-player' width='672' height='380' src='//www.youtube.com/embed/39udgGPyYMg' frameborder='0' allowfullscreen></iframe><div class='video-details'><p class='head'>Title</p><p class='txt'>Spiderman: Homecoming</p><p class='head'>Client</p><p class='txt'>Universal Pictures</p><p class='head'>Category</p><p class='txt'>Theatrical</p></div>"><div id="misc-3" class="portfolio-item"></div></a></div>
		    </div>
		    <div class="item">
		      <div class="col-md-2 col-sm-6 col-xs-12"><a href="#" data-toggle="adaptive-modal" data-am-custom-bgcolor="#000" data-title="<iframe class='video-player' width='560' height='315' src='//www.youtube.com/embed/39udgGPyYMg' frameborder='0' allowfullscreen></iframe><h2>Title: Film Name</h2><h2>Client: Universal Pictures</h2>"><div id="misc-4" class="portfolio-item"></div></a></div>
		    </div>
		  </div>
		  <a class="content-page left carousel-control" href="#myCarousel" data-slide="prev"><i class="content-page glyphicon glyphicon-chevron-left"></i></a>
		  <a class="content-page right carousel-control" href="#myCarousel" data-slide="next"><i class="content-page glyphicon glyphicon-chevron-right"></i></a>
		</div>
	</div>

</div>
