/*************************************************
*
*   Alex Got Skillz Stylesheet
*
*************************************************/

/*-----------------------------------------------
*   Base
-----------------------------------------------*/
html body .container-fluid{
min-height:100%;
height:100%;
}


/*-----------------------------------------------
*   Navbar
-----------------------------------------------*/
.navbar {
/*  margin-top: 10px;*/
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
  z-index: 10;

}

.navbar-default{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
  border-bottom: 2px solid #FFF;
}

.navbar-brand {
  color: #FFF !important;
  margin-left: 20px !important;
  margin-top: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 42px;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: #FFF;
}  


.navbar-default .navbar-nav > li > a {
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.current-tab {
  background-color: #FFF;
  color: #333;
}

.current-font {
  color: black !important;
}

.navbar-right .dropdown-menu {
  left: 0 !important;
  min-width: 0 !important;
}

.dropdown-menu {
  border: 1px solid #FFF;
}

.dropdown-toggle:active, .open .dropdown-toggle {
  background:#FFF !important;
  color:#000 !important;
  border-radius: 0;
}

.dropdown-menu a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-top: 10px !important;
  padding-left: 10px !important;
  text-align: left;
  text-transform: uppercase;
}


.top-nav-collapse {
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
  background-color: #222222;
  position: static;
  z-index: 0;
  border-radius: 0;
}




/*-----------------------------------------------
*   Carousel
-----------------------------------------------*/
h3 {
  display: inline-block;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a.carousel-control.left, .carousel-control.right {
background-image: none !important;
background-repeat: none !important;
}

/*-----------------------------------------------
*   Portfolio
-----------------------------------------------*/
#portfolio{
  background-color: #222222;
  height: 800px;
}

.portfolio-column {
  width: 80%;
}

#portfolio-content {
  margin-top: 10%;
}

#portfolio-content li {
  display: inline-block;
  height: 360px;
  position: relative;
  width: 146px;
}

#portfolio-content li:nth-child(4) {
  z-index: 3;
} 

#portfolio-content li:nth-child(5) {
  z-index: 2;
} 

  #portfolio-content li h4{
    color: #D3D3D3;
    font-size: 95%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }


.portfolio-content:first-child {
  margin-left: 60px;
}


.portfolio-item {
  background-color: red;
  border-radius: 2px;
  border: 1px solid #D3D3D3;
  height: 320px;
  margin: 0 auto;
  width: 140px;
}

#trailers{
  background-image: url('http://cache2.allpostersimages.com/p/LRG/98/9834/DS4Y500Z/posters/star-wars-rogue-one-jyn-rebel-menace.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#tv-spots {
  background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/98/9834/XO4Y500Z/posters/star-wars-rogue-one-force-of-the-empire.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#online {
  background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/98/9834/YO4Y500Z/posters/star-wars-rogue-one-siege-advance.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#offline {
  background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/98/9834/NO4Y500Z/posters/star-wars-rogue-one-rebel-trio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#misc {
  background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/98/9834/5S4Y500Z/posters/star-wars-rogue-one-k-2so.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

#misc-2 {
  background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/98/9834/OO4Y500Z/posters/star-wars-rogue-one-empire-in-command.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#misc-3 {
  background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/98/9834/TO4Y500Z/posters/star-wars-rogue-one-assembled-for-action.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#misc-4{
  background-image: url('http://imgc.allpostersimages.com/images/P-473-488-90/98/9834/UO4Y500Z/posters/star-wars-rogue-one-alliance-strike-force.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#box-row div{
  width: 200px;
  height: 200px;
  background-color: blue;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

#box-content {
  position: absolute;
}

/*-------------*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);


.carousel-inner { margin: auto; width: 100%; }
.carousel-control        { width:  4%; }
.carousel-control.left,
.carousel-control.right {
  background-image:none;
}
 
.glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  margin-top:-10px;
  margin-left: -10px;
  color: #FFF;
}

.content-page .carousel-inner {
  a {
    display:table-cell;
    height: 180px;
    width: 200px;
    vertical-align: middle;
  }
  img {
    max-height: 150px;
    margin: auto auto;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .content-page .carousel-inner > .item.next,
  .content-page .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }
  .content-page .carousel-inner > .item.prev,
  .content-page .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }

}
@media (min-width: 767px) and (max-width: 992px ) {
  .content-page .carousel-inner > .item.next,
  .content-page .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
  }
  .content-page .carousel-inner > .item.prev,
  .content-page .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
  }
}
@media (min-width: 992px ) {
  
  .content-page .carousel-inner > .item.next,
  .content-page .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(16.7%, 0, 0);
      transform: translate3d(16.7%, 0, 0);
  }
  .content-page .carousel-inner > .item.prev,
  .content-page .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-16.7%, 0, 0);
      transform: translate3d(-16.7%, 0, 0);
  }
  
}









