/*************************************************
*
*   Alex Got Skillz Stylesheet
*
*************************************************/

/*-----------------------------------------------
*   Base
-----------------------------------------------*/
html body .container-fluid{
min-height:100%;
height:100%;
}


/*-----------------------------------------------
*   Navbar
-----------------------------------------------*/
.navbar {
/*  margin-top: 10px;*/
  margin-bottom: 0px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.navbar-default{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
  border-bottom: 2px solid white;
}

.navbar-brand {
  color: white !important;
  margin-left: 10px !important;
  margin-top: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: white;
}  


.navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.current-tab {
  background-color: white;
  color: #333;
}

.current-font {
  color: black !important;
}

.navbar-right .dropdown-menu {
  left: 0 !important;
  min-width: 0 !important;
}

.top-nav-collapse {
  -webkit-transition: background .9s ease-in-out;
  -moz-transition: background .9s ease-in-out;
  transition: background .9s ease-in-out;
  background-color: #000;
  position: static;
  z-index: 0;
  border-radius: 0;
}




/*-----------------------------------------------
*   Carousel
-----------------------------------------------*/
h3 {
  display: inline-block;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a.carousel-control.left, .carousel-control.right {
background-image: none !important;
background-repeat: none !important;
}

/*-----------------------------------------------
*   Portfolio
-----------------------------------------------*/
#portfolio{
  background-color: #000;
  height: 800px;
}

.random-div {
  position: absolute;
}


#portfolio-content{
  margin-top: 200px;
  height: 900px;
}

#portfolio-content li {
  background-color: red;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin-right: 5px;
  margin-left: 5px;
  width: 160px;
  position: relative;

}

.portfolio-content:first-child {
  margin-left: 60px;
}

#tv-spots {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
  z-index: 2;
}

#online {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

#offline {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

#misc {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}




#box-row div{
  width: 200px;
  height: 200px;
  background-color: blue;
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

#box-content {
  position: absolute;
}

.hover {
  z-index: 5;
  background-color: yellow !important; 
}


/* ************** */
#trans3DDemo {
  position:absolute;
  top:70px;
  left:240px;
  width:240px;
}

#trans3DBoxes div {
  position:relative;
  width:60px;
  height:60px;
  background-color:#f60;
  margin-right:10px;
  margin-bottom:10px;
  border:solid 2px #FFF;
  display:inline-block;
}










